<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/master.css">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Press+Start+2P&display=swap"
    rel="stylesheet">
  <title>Clock</title>
</head>

<body>
  <div id="clock" class="dark">
    <div class="display">
      <div class="weekdays"></div>
      <div class="ampm"></div>
      <div class="digits"></div>
    </div>
    <div class="date">
      <p class="date-text">20/06/20</p>
    </div>
  </div>
  <!-- JavaScript Includes -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
</body>
<script src="../js/app.js"></script>

</html>